.barang {
  text-align: center;
  padding: 100px;
}
.aveceeena {
  text-align: center;
}
.deskripsi {
  padding-left: 50%;
  margin-inline-start: 30%;
  position: absolute;
  background-color: white;
  border: 1rem solid;
}
.size {
  text-align: center;
  margin: 100px;
}
.size h4 {
  margin: 70px;
}
.kontk {
  text-align: center;
}
.alamat {
  padding-left: 10%;
  font-family: sans-serif;
}
.kaki {
  margin-bottom: 50%;
}
